.daily-container{
    display: block;
    margin: 0 auto; 
    max-width: 940px;
    padding: 0 20px 0 20px;
}

.daily{
    
    &__title{
        padding-top: 81px;
        text-align: center;
        color: #f1ac11;
        font-family: "MyriadPro";
        font-size: 42px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__menu{
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
    }
}
.daily-item{
    padding: 50px 0;
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    &__image{
        height: 80px;
        width: 80px;
        position: relative;
        overflow: hidden;
        @media (max-width: 405px) {
            margin-bottom: 50px;
        }
        img {
            position: absolute;
            object-fit: cover;
            object-position: center;
            width: 100%; 
            // height: 100%;
        }
    }
    &__description{
        padding: 0 20px;
        width: 300px;
        @media (max-width: 405px) {
            flex: 1 1 100%;
        }
    }   
    @media (max-width: 405px) {
        flex-wrap: wrap;
    }
}

.info{
    display: flex;
    flex-direction: column;
    &__price{
        flex: 0 0 50%;
    }
    &__ingridients{
        flex: 0 0 50%;
    }
}
.price{
    display: flex;
    align-items: center;
    &__name{
        color: #2b2b2b;
        font-family: "MyriadPro";
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__border{
        flex-grow: 1;
        border-bottom-width: 2px;
        border-bottom-color: #2b2b2b;
        border-bottom-style: dotted;
        height: 25%;
    }
    &__number{
        color: #2b2b2b;
        font-family: "MyriadPro";
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
    }
}
.ingridients{
    display: flex;
    align-items: center;
    &__name{
    color: #bcbcbc;
    font-family: "MyriadPro";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    }
    &__border{
        flex-grow: 1;
        border-bottom-width: 2px;
        border-bottom-color: #bcbcbc;
        border-bottom-style: dotted;
        height: 25%;
    }
    &__number{
        color: #bcbcbc;
        font-family: "MyriadPro";
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.daily__offer{
    display: flex;
    position: relative;
    z-index: 3;
    height: 300px;
    @media (max-width: 415px) {
        height: 200px;
    }
    @media (max-width: 600px) {
        height: 225px;
    }
    @media (max-width: 760px) {
        height: 250px;
    }
    overflow: hidden;
    margin: 89px 0;
    img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%; 
    }
    @media (max-width: 520px) {
        margin: 89px 0 0 0;
    }
}

.daily__offer-offset{
    flex: 0 0 50%;
}

.daily__offer-content{
    flex: 0 0 50%;
    position: relative;
    z-index: 4;
}

.offer{ 
    @media (max-width: 380px) {
        padding: 30px 10px;
    }
    @media (max-width: 700px) {
        text-align: center;
    } 
    padding: 30px;
    &__title{
        color: #f1ac11;
        font-family: "MyriadPro";
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 20px 0;
        @media (max-width: 380px) {
            display: none;
        }
        @media (max-width: 464px) {
            font-size: 18px;
            margin: 0 0 18px 0;
        }
        @media (max-width: 700px) {
            font-size: 24px;
            font-weight: 600;
            margin: 0 0 28px 0;
        } 
    }
    &__subtitle{
        color: #2b2b2b;
        font-family: "MyriadPro";
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 26px 0;
        @media (max-width: 700px) {
            display: none;
        } 
        @media (max-width: 818px) {
            font-size: 16px;
            margin: 0 0 12px 0;
        } 
        @media (max-width: 924px) {
            font-size: 18px;
            margin: 0 0 18px 0;
        }        
    }
    &__text{
        color: #d4d4d4;
        font-family: "MyriadPro";
        font-size: 14px;
        font-weight: 400;
    }
    &__link{
        a{  
            padding: 10px 13px;
            display: inline-block;
            text-align: center;
            border-radius: 2px;
            background-color: #f1ac11;
            color: #2b2b2b;
            font-family: "MyriadPro";
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            &:hover{
                background-color: rgb(223, 134, 1);
                transition: all 0.3s ease 0s;
            }
        }
    }
}

.offer__text-wrapper{
    margin: 0 0 24px 0;
    max-height: 84px;
    overflow: scroll;
    @media (max-width: 700px) {
        display: none;
    } 
    @media (max-width: 818px) {
        max-height: 55px;
        margin: 0 0 14px 0;
    } 
    @media (max-width: 924px) {
        max-height: 70px;
    } 
}

.findus-wrapper{
    overflow: hidden;
    position: relative;
    img {
        z-index: 3;
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%; 
        @media (max-width: 1200px) {
            height: 100%;
        } 
    }  
}

.findus{
    display: block;
    margin: 0 auto;
    max-width: 620px;
    padding: 0 30px;
    @media (max-width: 560px) {
        width: 100%;
    } 
    @media (max-width: 1200px) {
        max-width: 550px;
    } 
    @media (max-width: 1300px) {
        max-width: 580px;
    } 
}

.find-card{
    overflow: hidden;
    position: relative;
    img {
        z-index: 3;
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%; 
        @media (max-width: 520px) {
            height: 100%;
            opacity: 0.4;
        }
    }
    &__title{
        position: relative;
        z-index: 4;
        text-align: center;
        color: #000000;
        font-family: "MyriadPro";
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 79px 0 41px 0;
        @media (max-width: 1200px) {
            padding: 49px 0 41px 0;
        } 
    }
    &__content{
        padding: 0 70px;
        position: relative;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 40px;
        @media (max-width: 530px) {
            display: block;
            text-align: center;
        } 
    }
    &__link{
        position: relative;
        z-index: 4;
        text-align: center;
        padding-bottom: 82px;
        a{  
            padding: 10px 13px;
            display: inline-block;
            text-align: center;
            border-radius: 2px;
            background-color: #f1ac11;
            color: #2b2b2b;
            font-family: "MyriadPro";
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            &:hover{
                background-color: rgb(223, 134, 1);
                transition: all 0.3s ease 0s;
            }
        }
    }
}

.name-wrapper{
    display: flex;
    align-items: center;
    @media (max-width: 430px) {
        display: block;
        text-align: center;
        justify-content: center;
        margin-bottom: 50px;
    } 
    @media (max-width: 518px) {
        justify-content: center;
        margin-bottom: 50px;
    }
}

.name{
    color: #f1ac11;
    font-family: "MyriadPro";
    font-size: 22px;
    font-weight: 400;
    
}

.name-logo{
    img{
        position: relative;
        width: 59px;
        height: 40px;
    }  
}

.addres{
    color: #000000;
    font-family: "MyriadPro";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
}